.mountainimage {
  color: red;
}
.upperdiv {
  background-color: white;
  padding: 12px 20px;
  margin: 8px;
}
.textdiv {
  color: #66bfbf;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
}
.cloudimage {
  position: relative;
  left: 65%;
}
.cloudimage1 {
  position: relative;
  left: 10%;
}
.mountainimage {
  position: relative;
  left: 20%;
}
.profile {
  width: 220px;
  height: 220px;
  position: relative;
  left: 38%;
  border-radius: 200px;
}
.lowerdiv {
  background-color: azure;
}
.dotted {
  border: 4px;
  box-sizing: border-box;
}
.paragraph {
  text-align: center;
  margin: auto;
  padding: 12px 20px;
  width: 50%;
}
.buttn {
  background-color: #11999e;
  color: white;
  width: 150px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  position: relative;
  left: 42%;
  margin: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.teaimage {
  width: 220px;
  height: 220px;

  float: right;
  border-radius: 150px;
}
.designimage {
  width: 220px;
  height: 220px;

  float: left;
}
.textdivdesign {
  color: #66bfbf;
  font-size: 20px;
  padding: 12px 20px;
  margin: 20px;
}
.divparagraph {
  padding: 12px 20px;
  margin: 20px;
}
.midlediv {
  padding: 12px 20px;
  margin: auto;
  width: 50%;
}
.lastdiv {
  background-color: #66bfbf;
  text-align: center;
  width: 95%;
  height: 100px;
  padding: 20px 20px;
  margin: 20px;
  font-size: 20px;
}
a {
  padding: 12px 20px;
  margin: 10px;
  text-decoration-style: none;
  color: #11999e;
  text-decoration: none;
}
a:hover {
  color: azure;
}
.personal {
  color: aliceblue;
  font-size: 14px;
  position: relative;
  top: 35%;
}
hr {
  border: dotted #66bfbf 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
}

